<div class="col-sm-12 col-md-3 aw-side-bar">
    <!--推荐阅读-->
    <section class="mod-sidebar__top  hidden-xs hidden-sm">
        <div class="mod-sidebar__title">
            <h4 style="color:black">推荐阅读</h4>
            <span class="mod-sidebar__desc">Top Read</span>
        </div>
        <ul class="mod-sidebar__content">
            <li><a href="#" target="_top">最新</a></li>
            <li><a href="#">前端</a></li>
            <li><a href="#" target="_top">简介</a></li>
            <li><a href="#">友情链接</a></li>
            <li><a href="#">订阅</a></li>
            <li><a href="#" target="_top">Github</a></li>
        </ul>
    </section>
    <!--个人信息-->
    <section class="mod-sidebar__tag">
        <div class="mod-sidebar__title">
            <h4><a href="javascript:" title="热门用户" target="_top">个人信息</a></h4>
            <span class="mod-sidebar__desc">yao bowen</span>
            <a class="js_tag_change mod-sidebar__tag_change" href="/zhangqi">了解更多</a>
        </div>
        <br>
        <div style="position:relative">
            <a href="/zhangqi"><img style="width:50px;border-radius:5px" src="/images/me.jpg" alt=""></a>
            <p style="position:absolute;top:0px;left:65px;font-weight:bold;font-size:10px;">姓 名 : 姚博文</p>
            <p style="position:absolute;top:20px;left:65px;font-weight:bold;font-size:10px;">邮 箱 : 441822659@qq.com</p>
            <p style="position:absolute;top:40px;left:65px;"><span style="font-weight:bold;font-size:13px;"><a style="color:#666" href="https://github.com/Nicolasbowen">github.com/ Nicolas...</a></span> </p>
        </div>
        <br>
    </section>
    <!--标签-->
    <section class="mod-sidebar__tag">
        <div class="mod-sidebar__title">
            <h4><a href="javascript:" title="查看所有标签" target="_top">热门标签</a></h4>
            <span class="mod-sidebar__desc">Tag Cloud</span>
            <a class="js_tag_change mod-sidebar__tag_change" href="javascript:">换一换</a>
        </div>
        <div class="js_tag_content mod-sidebar__content">
            <a href="javascript:" class="tag-link-236" title="11个话题" style="font-size: 14pt;">招聘信息</a>
            <a href="javascript:" class="tag-link-48" title="30个话题" style="font-size: 14pt;">分享</a>
            <a href="javascript:" class="tag-link-48" title="30个话题" style="font-size: 14pt;">技术问答</a>
        </div>
    </section>
    <br>
    <!--热门用户-->
    <section class="mod-sidebar__tag">
        <div class="mod-sidebar__title">
            <h4><a href="javascript:" title="热门用户" target="_top">热门用户</a></h4>
            <span class="mod-sidebar__desc">User Cloud</span>
            <a class="js_tag_change mod-sidebar__tag_change" href="javascript:">更多</a>
        </div>
        <div class="mod-sidebar__content" id="ds-recent-comments">
            <li class="ds-comment ds-show-avatars">
                <div class="ds-avatar"><img alt="" src="/images/avatar-max-img.png" class="avatar avatar-32 photo" width="32" height="32"></div>
                <div class="ds-meta"><a class="nofollow author" target="_top" href="javascript:">小博文</a><span class="ds-time">05月15日</span></div>
                <div class="ds-thread-title">
                    <a href="#">10个问题</a>
                    <a href="#">66个赞同</a>
                </div>
            </li>
            <li class="ds-comment ds-show-avatars">
                <div class="ds-avatar"><img alt="" src="/images/avatar-max-img.png" class="avatar avatar-32 photo" width="32" height="32"></div>
                <div class="ds-meta"><a class="nofollow author" target="_top" href="javascript:">大博文</a><span class="ds-time">06月15日</span></div>
                <div class="ds-thread-title">
                    <a href="#">20个问题</a>
                    <a href="#">666个赞同</a>
                </div>
            </li>
        </div>
    </section>
    <br>
</div>