<link rel="stylesheet" type="text/css" href="jianli.css" />
<!--首先引入bootstrap-->
<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
<style>
    .navbar-default {
        height: 60px;
    }
    
    .container-fluid {
        margin-top: 10px;
    }
</style>

<div class="container-menu">
    <nav class="mainmenu">
        <ul>
            <li>
                <a class="fg-bgc" href="#关于我">
                    <span class="img-menu" id="about-ico"></span>
                    <span class="txt-menu">关于我</span>
                </a>
            </li>
            <li>
                <a class="fg-bgc" href="#职业技能">
                    <span class="img-menu" id="resume-ico"></span>
                    <span class="txt-menu">职业技能</span>
                </a>
            </li>
            <li>
                <a class="fg-bgc" href="#我的相册">
                    <span class="img-menu" id="portfolio-ico"></span>
                    <span class="txt-menu">我的相册</span>
                </a>
            </li>

            <li>
                <a class="fg-bgc" href="#工作经历">
                    <span class="img-menu" id="contact-ico"></span>
                    <span class="txt-menu">工作经历</span>
                </a>
            </li>
            <li>
                <a class="fg-bgc" href="#项目经验">
                    <span class="img-menu" id="other-ico"></span>
                    <span class="txt-menu">项目经验</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!--*** Pages ***-->
<div id="impress">
    <!--*** Profile ***-->
    <section class="profile_container cover step" id="关于我" data-x="0" data-y="0" style="z-index:1000">
        <h1 class="cover"><span class="h1-text fg-bgc">关于我</span><span class="h1-corner fg-bdc"></span></h1>
        <figure class="me left">
            <div id="myqr">我的二维码</div>
            <div id="myimg"></div>
        </figure>
        <section class="personal-info right">
            <!-- Personal info section -->
            <ul>
                <li>
                    <div class="label fg-bgc">姓名</div>
                    <div class="corner fg-bdc"></div>
                    <div class="text">张棋</div>
                </li>
                <li>
                    <div class="label fg-bgc">年龄</div>
                    <div class="corner fg-bdc"></div>
                    <div class="text">24</div>
                </li>
                <li>
                    <div class="label fg-bgc">电话</div>
                    <div class="corner fg-bdc"></div>
                    <div class="text">18677046440</div>
                </li>
                <li>
                    <div class="label fg-bgc">邮箱</div>
                    <div class="corner fg-bdc"></div>
                    <div class="text">526169225@qq.com</div>
                </li>
                <li>
                    <div class="label fg-bgc">个人网站</div>
                    <div class="corner fg-bdc"></div>
                    <div class="text"><a href="http://www.keykey.me" target="_blank">www.keykey.me</a></div>
                </li>
                <li>
                    <div class="label fg-bgc">GitHub</div>
                    <div class="corner fg-bdc"></div>
                    <div class="text"><a href="https://github.com/zhanghaiduo" target="_blank">github.com/zhanghaiduo</a></div>
                </li>
            </ul>
        </section>
        <section class="aboutme">
            <hgroup>
                <h2 class="f30">张棋</h2>
                <h2 class="f20">前端工程师</h2>
            </hgroup>
            <p style="font-size:15px;">&#x3000;&#x3000;热爱学习，热爱生活，热爱新技术。能够通过查看文档和资料搜索解决各种问题；服从领导，能接受加班，能够很快的融入新的工作环境，进入工作状态。</p>
            <p style="font-size:15px;">&#x3000;&#x3000;性格开朗乐观，态度积极向上，能够与同事融洽相处；有很强的团队意识，能够互帮互助。工作上认真细致，能够高效的完成任务。</p>
            <p style="font-size:15px;">&#x3000;&#x3000;闲暇时喜欢做一些demo，目前整理放在自己的Github上。</p>
        </section>
    </section>

    <!--*** Resume ***-->
    <section class="resume_container cover step" id="职业技能" data-x="1000" data-y="-500" data-z="-1500" data-rotate="10">
        <h1 class="cover"><span class="h1-text fg-bgc">职业技能</span><span class="h1-corner fg-bdc"></span></h1>
        <!-- EXPERIENCE section -->
        <section class="edu left">
            <h2>前端</h2>
            <ul class="edu-list">
                <li>
                    <!--<h3>Developer</h3>-->
                    <p>&#x3000;1.能够熟练的浏览英文网站，和英文文档，对新技术保持较高的热情和学习。研读过《JavaScript高级程序设计》、《ES 6标准入门》等书籍。</p>
                </li>
                <li>
                    <p>&#x3000;2.熟悉W3C标准，能写出符合W3C标准的页面，同时，可以解决IE和其他浏览器之间的兼容性问题。</p>
                </li>
                <li>
                    <p>&#x3000;3.精通HTML5、CSS3。能够将低版本的页面升级到符合HTML5的标准页面.掌握新标准的写法规则，并能用于实践完成页面效果。</p>
                </li>
                <li>
                    <p>&#x3000;4.熟练掌握bootstrap、AmazeUI等移动端框架，掌握常见的响应式开发，能将PC端页面正常转移到WAP端。了解ionic，能在ionic框架下开发出符合IOS和android系统的标准H5页面。</p>
                </li>
                <li>
                    <p>&#x3000;5.了解MVC和MVVM思想，了解其代表性的框架:angularJS、React、Vue，能使用angularJS完成前端页面的效果，表单验证、数据发送、动画、数据绑定等，了解angularJS中的数据双向绑定、依赖注入、指令、服务等概念。</p>
                </li>
                <li>
                    <p>&#x3000;6.熟练使用JavaScript、jQuery，深入阅读过jQuery源码，熟练使用ES5，了解ES6语法。</p>
                </li>
                <li>
                    <p>&#x3000;7.熟悉HTTP协议，熟悉常见HTTP状态码，能使用谷歌工具进行抓包和调试，了解URL请求中的各项环节，GET请求和POST请求的区别；熟悉ajax请求机制，并能熟练使用ajax完成前后台交互功能。</p>
                </li>
            </ul>
        </section>

        <!-- EDUCATION section -->
        <section class="job">
            <h2>后端</h2>
            <ul class="exp-list">
                <li>
                    <p>&#x3000;1.了解Node.js,熟悉使用Node.js+Express等内部框架和内部库,熟悉使用Node.js渲染模板，如： ejs，artTemplate等。了解Node.js异步非阻塞的编程模型，熟悉Node.js模块和express模块，中间件的使用。能够使用ajax进行前后台交互，了解websocket。 </p>
                </li>
                <li>
                    <p>&#x3000;2.了解MongoDB数据库，并且使用过MongoDB原生和Mongoose进行数据库构建和操作。了解模块化开发思想，能够正常使用npm模块包管理器和使用gulp、webpack、babel自动化构建工具。</p>
                </li>
                <li>
                    <p>&#x3000;3.了解linux系统和虚拟机环境搭建。</p>
                </li>
                <li>
                    <p>&#x3000;4.熟练使用VS Code、Hbuild、WebStorm等相关开发工具。</p>
                </li>
            </ul>
        </section>

        <!-- SKILLS section -->
        <section class="skills">
            <div class="graph-skill">
                <!-- Choose a number between 0 to 100 for your skills -->
                <ul>
                    <li class="fig1"><span class="bar-title">90</span></li>
                    <li class="fig2"><span class="bar-title">90</span></li>
                    <li class="fig3"><span class="bar-title">75</span></li>
                    <li class="fig4"><span class="bar-title">60</span></li>
                    <li class="fig5"><span class="bar-title">50</span></li>
                    <li class="fig6"><span class="bar-title">40</span></li>
                </ul>
            </div>
            <div class="graph-title">
                <ul>
                    <!-- Choose a test for your skills -->
                    <li><span class="graph-lable fig1"></span>HTML5</li>
                    <li><span class="graph-lable fig2"></span>css3</li>
                    <li><span class="graph-lable fig3"></span>jQuery</li>
                    <li><span class="graph-lable fig4"></span>JavaScript</li>
                    <li><span class="graph-lable fig5"></span>AngularJS</li>
                    <li><span class="graph-lable fig6"></span>Node.js</li>
                </ul>
            </div>
        </section>
    </section>

    <!--*** Portfolio 1/2 ***-->
    <section class="portfolio_container portfolio1 cover step" id="我的相册" data-x="-300" data-y="-1200" data-z="-3000">
        <h1 class="cover"><span class="h1-text fg-bgc">我的相册</span><span class="h1-corner fg-bdc"></span></h1>
        <ul class="filter cover">
            <li id="all1">全部</li>
            <li id="cat_01">食嘢</li>
            <li id="cat_02">戴眼镜</li>
            <li id="cat_03">不戴眼镜</li>
        </ul>

        <!-- PORTFOLIO-LIST section -->
        <ul id="portfolio-list" class="cover">
            <li class="cat_02">
                <a class="port_group" href="images/portfolio/1.jpg">
                    <img src="images/portfolio/thumb/1.jpg" width="200" height="140" alt="" />
                    <span></span>
                </a>
                <p class="categorie">美图秀秀</p>
            </li>
            <li class="cat_02 cat_01">
                <a class="port_group" href="images/portfolio/2.jpg">
                    <img src="images/portfolio/thumb/2.jpg" width="200" height="140" alt="" />
                    <span></span>
                </a>
                <p class="categorie">岁月你别催</p>
            </li>
            <li class="cat_03">
                <a class="port_group" href="images/portfolio/3.jpg">
                    <img src="images/portfolio/thumb/3.jpg" width="200" height="140" alt="" />
                    <span></span>
                </a>
                <p class="categorie">懒懒晒日头</p>
            </li>
            <li class="cat_03 cat_01">
                <a class="port_group" href="images/portfolio/4.jpg">
                    <img src="images/portfolio/thumb/4.jpg" width="200" height="140" alt="" />
                    <span></span>
                </a>
                <p class="categorie">中奖</p>
            </li>
            <li class="cat_03 cat_01">
                <a class="port_group" href="images/portfolio/5.jpg">
                    <img src="images/portfolio/thumb/5.jpg" width="200" height="140" alt="" />
                    <span></span>
                </a>
                <p class="categorie">别人的相机</p>
            </li>
            <li class="cat_02 cat_01">
                <a class="port_group" href="images/portfolio/6.jpg">
                    <img src="images/portfolio/thumb/6.jpg" width="200" height="140" alt="" />
                    <span></span>
                </a>
                <p class="categorie">笑得</p>
            </li>
            <li class="cat_03">
                <a class="port_group" href="images/portfolio/7.jpg">
                    <img src="images/portfolio/thumb/7.jpg" width="200" height="140" alt="" />
                    <span></span>
                </a>
                <p class="categorie">长发宅男</p>
            </li>
            <li class="cat_02 cat_01">
                <a class="port_group" href="images/portfolio/8.jpg">
                    <img src="images/portfolio/thumb/8.jpg" width="200" height="140" alt="" />
                    <span></span>
                </a>
                <p class="categorie">饥不择食</p>
            </li>
        </ul>
    </section>


    <!--*** Contact ***-->
    <section class="contact_container cover step" id="工作经历" data-x="-1600" data-y="-600" data-z="-4700" data-rotate-z="10" data-rotate-y="180">
        <h1 class="cover"><span class="h1-text fg-bgc">工作经历</span><span class="h1-corner fg-bdc"></span></h1>

        <!-- CONTACT FORM -->
        <div class="right">

        </div>
        <!-- CONTACT INFO -->
        <div class="contact-info left">
            <h3>2016年03月 – 2017年04月<br>郑州市博汇网络技术有限公司</h3>
            <p>Web前端开发工程师</p>
            <h3>行业类型：</h3>
            <p>互联网/电子商务</p>
            <h3>企业性质：</h3>
            <p>民营</p>
            <h3>工作描述：</h3>
            <p>1.最初负责公司的前端页面开发，使用JS及插件等实现页面和用户的交互效果 </p>
            <p>2.随后负责公司项目前端的基本构建，处理验证问题和ajax异步请求和处理服务器数据响应等功能的实现。</p>
            <p>3.积极配合公司安排，对公司项目进行讨论和改进，提出自己的意见，配合公司各个部门的人员，预估项目时间，做好项目规划，实现项目目标。</p>
            <!--<p id="address"></p>-->
        </div>
        <div class="contact-info right">

            <h3>2014年9月 – 2015年12月<br>长沙远大住工公司</h3>
            <p>Web前端开发工程师</p>
            <h3>行业类型：</h3>
            <p>互联网/电子商务</p>
            <h3>企业性质：</h3>
            <p>民营</p>
            <h3>工作描述：</h3>
            <p>1.负责前端页面的开发，以及页面动态效果的交互。通过使用jQuery来兼容不同浏览器。 </p>
            <p>2.配合服务器端进行数据的获取和页面展示。根据客户需求和公司安排，调整网站样式和页面效果，解决BUG和卡顿现象，对网站进行性能上的优化和测试。</p>
            <p>3.积极配合公司安排，对项目进行测试和压缩，解决项目中出现的问题。</p>
            <!--<p id="address"></p>-->
        </div>
    </section>

    <!--*** Features ***-->
    <section class="feature_container cover step" id="项目经验" data-x="-1600" data-y="-600" data-z="-4500" data-rotate-z="-10">

        <!--项目一-->
        <main class="xiangmu">
            <span class="daohang" style="display:block;">
                <a class="tab" href="javascript:;">项目一</a>
                <a class="tab" href="javascript:;">项目二</a>
                <a class="tab" href="javascript:;">项目三</a>
                <a class="tab" href="javascript:;">项目四</a>
                </span>
            <h1 class="cover"><span class="h1-text fg-bgc">我的项目经验</span><span class="h1-corner fg-bdc"></span></h1>
            <section class="feature left">
                <h1 style="color:#31577a">项目一</h1>
                <h2>2017年4月 - 至今 | 问答社区的开发<br><a style="color:#31577a" href="https://github.com/zhanghaiduo/super-blog">项目的gitHub地址</a></h2>
                <ul class="feature-list">
                    <li>
                        <h2>项目环境：</h2>Windows、NodeJS
                        <h2>开发工具：</h2> MongoDB、AngularJS、Bootstrap、jQuery、VS Code、Git
                        <h2>责任描述：</h2>
                        <p>1.这个项目是我自己开发的一个技术分享社区，负责整个项目的开发。</p>
                        <p> 2.负责对项目的服务器端逻辑功能的实现和对数据的保存修改。负责前端页面的布局和用户交互效果的实现以及相关的验证功能。</p>
                    </li>
            </section>

            <section class="more-feature">
                <h2>项目描述：</h2>
                <ul class="feature-list">
                    <li>
                        <p>1.项目基于Node.js构建，使用了express框架。数据库使用mongoose实现了对数据的增删改查功能。</p>
                        <p>2.该项目包含了登录注册，成功后发送邮件通知的功能。在社区发表回复留言以及编辑的功能。对个人信息和头像状态等进行设置的功能。</p>
                        <p>3.前端页面布局使用了bootstrap框架以及，实现了页面整体布局的不同分辨率适配问题，较好解决了PC端和移动端的页面兼容展示问题。还使用Animate实现界面的动画效果。通过jQuery完成了轮播图的效果，导航栏的动画等效果，以及对DOM的操作，解决浏览器的兼容性问题。编辑器使用了Markdown，提高了用户的编辑体验。</p>
                        <p>4.前端的表单认证使用了AngularJS，通过AngularJS进行数据绑定，以及正则表达式的判断，数据不规范的时候给予用户提示。</p>
                    </li>
            </section>
        </main>

        <!--项目二-->
        <main class="xiangmu" style="display:none;">
            <span class="daohang" style="display:block;">
                <a class="tab" href="javascript:;">项目一</a>
                <a class="tab" href="javascript:;">项目二</a>
                <a class="tab" href="javascript:;">项目三</a>
                <a class="tab" href="javascript:;">项目四</a>
            </span>
            <h1 class="cover"><span class="h1-text fg-bgc">我的项目经验</span><span class="h1-corner fg-bdc"></span></h1>
            <section class="feature left">
                <h1 style="color:#31577a">项目二</h1>
                <h2>2017年2月 – 2017年4月 | loveManga的开发<br><a style="color:#31577a" href="https://github.com/zhanghaiduo/loveManga">项目的gitHub地址</a></h2>
                <h2><a style="color:#31577a" href="http://www.keykey.me">网站展示:www.keykey.me</a></h2>
                <ul class="feature-list">
                    <li>
                        <h2>项目环境：</h2>Windows、NodeJS
                        <h2>开发工具：</h2> MongoDB、javascript、Ajax、jQuery、Bootstrap、Animate、VS Code、Git
                        <h2>责任描述：</h2>
                        <p>1.负责整个项目的开发，实现前端页面的动态效果交互、表单验证功能、数据请求处理、用户上传文件和保存。服务器端用户信息和数据的存储、用户动态的统计和对用户请求的处理和操作。</p>
                        <p>2.配合其他人员完成项目的测试和一些功能的完善。</p>
                    </li>
            </section>
            <section class="more-feature">
                <h2>项目描述：</h2>
                <ul class="feature-list">
                    <li>
                        <p>1.项目包含了登录注册，发表，编辑，留言，回复，标签等功能，属于一个简单的动漫爱好者交流的平台。</p>
                        <p>2.项目基于Node.js构建，使用了express框架。项目中通过使用mongoDB对数据库进行操作。项目使用session和cookie对用户登录信息进行保存，并将相应的数据保存在数据库中，使用了flash模块实现对错误信息的提示和处理。项目使用了ejs模板渲染页面，结合数据库的数据进行展示。</p>
                        <p>3.项目前端页面整体使用了bootstrap进行布局，实现了页面对不同屏幕大小和移动端的动态适配。登录注册的表单数据通过Ajax发送请求。编辑器使用了markdown编辑器,优化用户编辑体验。使用了Animate优化了用户界面，同时通过jQuery对页面动态交互效果和DOM进行操作，既方便了DOM操作也解决了浏览器的兼容性问题。</p>
                        <p>4.项目使用了Git工具进行管理，使用gulp自动化构建工具进行项目整理和压缩。</p>
                    </li>
            </section>
        </main>

        <!--项目三-->
        <main class="xiangmu" style="display:none;">
            <span class="daohang" style="display:block;">
                <a class="tab" href="javascript:;">项目一</a>
                <a class="tab" href="javascript:;">项目二</a>
                <a class="tab" href="javascript:;">项目三</a>
                <a class="tab" href="javascript:;">项目四</a>
            </span>
            <h1 class="cover"><span class="h1-text fg-bgc">我的项目经验</span><span class="h1-corner fg-bdc"></span></h1>
            <section class="feature left">
                <h1 style="color:#31577a">项目三</h1>
                <h2>2016年06月-2016年08月|全库网开发&#x3000;(已下线)</h2>
                <ul class="feature-list">
                    <li>
                        <h2>项目环境：</h2>Windows、NodeJS
                        <h2>开发工具：</h2> MongoDB、Bootstrap、jQuery、Webstorm 、Layer、Git
                        <h2>责任描述：</h2>
                        <p>1.负责项目前端框架的开发。</p>
                        <p>2.配合公司其他人员完成项目的测试和一些功能的完善。</p>
                    </li>
            </section>
            <section class="more-feature">
                <h2>项目描述：</h2>
                <ul class="feature-list">
                    <li>
                        <p>1.这是一个开源代码交流平台的项目，拥有登录注册，发表留言，回复转发，点赞收藏，以及上传头像的功能。</p>
                        <p>2.项目基于Node.js使用express构建，数据库使用mongodb进行实现数据的增删该查。使用markdown对文本进行格式化，防止xss攻击。使用crypto加密工具对用户密码进行加密处理。项目中使用了session存储用户登录信息。</p>
                        <p>3.项目前台使用了bootstrap进行页面布局，适配不同分辨率大小的屏幕。用CSS添加一些小规模动画效果，优化界面。用正则表达式对用户的输入表单进行验证，并在不规范的时候给予用户提示，使用了jQuery插件实现更多的页面动态效果，使用了jQuery的弹框作为用户的登录注册，以及快速发布文章。</p>
                        <p>4.项目使用了Git管理工具，使用了gulp自动化构建工具。
                        </p>
                    </li>
            </section>
        </main>
        <!--项目四-->
        <main class="xiangmu" style="display:none;">
            <span class="daohang" style="display:block;">
                <a class="tab" href="javascript:;">项目一</a>
                <a class="tab" href="javascript:;">项目二</a>
                <a class="tab" href="javascript:;">项目三</a>
                <a class="tab" href="javascript:;">项目四</a>
            </span>
            <h1 class="cover"><span class="h1-text fg-bgc">我的项目经验</span><span class="h1-corner fg-bdc"></span></h1>
            <section class="feature left">
                <h1 style="color:#31577a">项目四</h1>
                <h2>2015年09月 – 2015年12月 长沙远大住工公司<br><a href="https://www.bhome.com.cn">项目地址:www.bhome.com.cn</a></h2>

                <ul class="feature-list">
                    <li>
                        <h2>项目环境：</h2>Windows
                        <h2>开发工具：</h2> Bootstrap、jQuery、Git、Webstorm 、Hbuild
                        <h2>责任描述：</h2>
                        <p>1.负责前端页面的开发，以及页面动态效果的交互。通过使用jQuery来兼容不同浏览器。</p>
                        <p>2.配合服务器端进行数据的获取和页面展示。根据客户需求和公司安排，调整网站样式和页面效果，解决BUG和卡顿现象，对网站进行性能上的优化和测试。</p>
                        <p>3.积极配合公司安排，对项目进行测试和压缩，解决项目中出现的问题。</p>
                    </li>
            </section>

            <section class="more-feature">
                <h2>项目描述：</h2>
                <ul class="feature-list">
                    <li>
                        <p>1.项目对长沙远大住工公司的公司产品和公司面貌进行展示。项目中使用了较多的图片和列表，因此使用了图片精灵，减少了一定的请求，加快了页面的渲染速度。</p>
                        <p>2.在页面的动态交互效果上使用jQuery处理，解决了大多数浏览器兼容性问题，同时也方便了页面的开发。项目中使用js实现了动态更换语言的功能。</p>
                        <p>3.整个项目使用了Git管理工具进行管理，实现了多人协同开发网站，大大提前了项目的完成时间。</p>
                    </li>
            </section>
        </main>
    </section>
</div>
<!--*** Scripts ***-->
<script src="/script/jquery.min.js"></script>
<!--[if !IE]><!-->
<script type="text/javascript" src="/script/impress.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.3/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="script/script.js"></script>
<script>
    $('.daohang .tab').click(function() {
        let i = $(this).index();
        $('.xiangmu').eq(i).css('display', 'block').siblings().css('display', 'none');
    })
</script>